<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Elaina Frydel - Personal Website</title>
  <link rel="stylesheet" href="/elaina-frydel-web/styles.css">
</head>
<body>
  <!-- Header -->
  <header class="header">
    <div class="container">
      <h1>Elaina Frydel</h1>
      <p>A passionate about...</p>
    </div>
  </header>

  <!-- About Section -->
  <section class="about" id="about">
    <div class="container">
      <h2>About Me</h2>
      <p>
        About Section.
      </p>
    </div>
  </section>

  <!-- Portfolio Section -->
  <section class="portfolio" id="portfolio">
    <div class="container">
      <h2>My Projects</h2>
      <div class="projects">
        <div class="project-item">
          <h3>Project One</h3>
          <p>Short description of the project. What did you work on and what did you achieve?</p>
        </div>
        <div class="project-item">
          <h3>Project Two</h3>
          <p>Short description of the project. What did you work on and what did you achieve?</p>
        </div>
        <div class="project-item">
          <h3>Project Three</h3>
          <p>Short description of the project. What did you work on and what did you achieve?</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Contact Section -->
  <section class="contact" id="contact">
    <div class="container">
      <h2>Contact Information</h2>
      <p>Email: <a href="mailto:frydelel@msu.edu">frydelel@msu.edu</a>.</p>
      <p>Phone: <a href="tel:+15177751598">(517) 775-1598</a>.</p>
      <p>Linkedin: <a href="https://www.linkedin.com/in/elaina-frydel-693140247/">https://www.linkedin.com/in/elaina-frydel-693140247/</a>.</p>
      <p>Resume <a class="items" href="https://acrobat.adobe.com/id/urn:aaid:sc:VA6C2:26249c86-370f-4974-aa2c-c63aed6cdbdf">Link to Resume</a>.</p>
    </div>
  </section>

  <!-- Footer -->
  <footer>
    <p>&copy; 2024 Elaina Frydel. All Rights Reserved.</p>
  </footer>
</body>
</html>
