<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset=""utf-8" />
        <meta name="viewpoint" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/elaina-frydel-web/static/main/css/header.css" />
        <link rel="stylesheet" type="text/css" href="/elaina-frydel-web/static/main/css/navbar.css" />
        <link rel="stylesheet" type="text/css" href="/elaina-frydel-web/static/main/css/main.css" />
        <link rel="stylesheet" type="text/css" href="/elaina-frydel-web/static/main/css/footer.css" />
    </head>


    <body>
        <!--Header content -->
        <header>
            <img src="/elaina-frydel-web/static/main/images/header.jpg" alt="Banner" height="100%" width="100%" loading="lazy">
        </header>
            
        <!-- Nav bar content -->
        <navbar class="navbar">
            <div class="navbar">

                <u1 class="title">Homework 1</u1>
                <ul class="list">
                    <li class="list">
                        <input type="checkbox" id="input"/>
                        <label id="hamburger" for="input">
                            <img src="/elaina-frydel-web/static/main/images/menu-bar.png" width="50" height="50" class=".menu-icon" alt="menu" loading="lazy">
                            <nav id="sidebar"> 
                                <ul>
                                    <li><a class="items" href="/home.html"> Link to Home</a></li>
                                    <li><a class="items" href="https://acrobat.adobe.com/id/urn:aaid:sc:VA6C2:44eb7ba3-db6e-4c11-a8e7-b5e76d54bbb2"> Link to Resume</a></li>
                                    <li><a class="items" href="/projects.html"> Link to Projects</a></li>
                                    <li><a class="items" href="https://www.linkedin.com/in/elaina-frydel-693140247/">Linkedin</a></li>
                                </ul>
                            </nav>
                        </button>
                    </li>
                    
                    <li class="wide"> 
                        <a href="https://www.linkedin.com/in/elaina-frydel-693140247/" target="_blank" class="linkedin">
                            <img src="/elaina-frydel-web/static/main/images/social-linkedin.png" alt="Linkedin.com" width="50" height="50" loading="lazy">
                        </a>
                    </li>
                    <li class="wide"> 
                        <a href="https://acrobat.adobe.com/id/urn:aaid:sc:VA6C2:44eb7ba3-db6e-4c11-a8e7-b5e76d54bbb2" target="_blank" class="a">
                            Resume
                        </a>
                    </li>
                    <li class="wide"> 
                        <a href="/home.html" target="_blank" class="a">
                            Link to Home
                        </a>
                    </li>
                    <li class="wide"> 
                        <a href="/projects.html" target="_blank" class="a">
                            Link to Projects
                        </a>
                    </li>
                </ul>
                
            </div>
        </navbar>
        
        <!-- Main content -->
        <main>
            <div class="wrapper">
                <div class="boxleft">
                    <img src="/elaina-frydel-web/static/main/images/pfp2.jpg" alt="Headshot" width="100%" height="100%" alt="Photo of me">
                </div>
                <div class="boxright">
                    <h1>
                        Elaina Frydel
                    </h1>
                        I am a senior at Michigan State University majoring in Computer Science. I currently work as a Data Engineer and 
                        a ULA for CSE335.
                </div>
            </div>
            <div class="funfact">
                <p class="text">A fun fact about me is recently discovered that I do not like web development and have cried many tears over this assignmet.</p>
            </div>
            
        </main>


        <!--Footer, finished -->
        <footer class="footer">
            <div class="footer"> 
                <p>&copy 2023 Elaina Ann Frydel</p>
            </div>
        </footer>

    </body>
        
    
</html>